version: '3'
services:
  db:
    image: mcr.microsoft.com/mssql/server:2017-latest
    environment:
        SA_PASSWORD: "Walkaboutserver2018"
        ACCEPT_EULA: "Y"
        MSSQL_PID=<your_product_id | edition_name> (default: Developer)
    ports:
      - "1433:1433"
    healthcheck:
      test: sqlcmd -U SA -P 'Walkaboutserver2018' -Q 'SELECT @@VERSION1'

  web:
    image: sverrisson/walkaboutserver
    depends_on:
      - db
    command:
      - ./waiting.sh # If the db is slow to start, then increase time here
    links:
      - "db"
    environment:
      - NODE_ENV=production
    ports:
      - "3000:3000"

volumes:
  db:
    driver: local
